<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Learning</title>
    <script>
        function openCourse(location) {
            window.location.href = `/course/${location}/`;
        }
    </script>
</head>
<body>
    <h1>Courses</h1>

    <hr><hr><hr>

    {# Show a different text if no courses were found. #}
    {% if courses | length %}
        {% for course in courses %}
            {% set course_location = course["location"] %}
            <section onclick="openCourse('{{ course_location }}');">
                <div class="icon">
                    {{ course['icon'] }}
                </div>
                <div class="info">
                    <h2>{{ course['name'] }}</h2>
                    <p>{{ course['description'] }}</p>
                </div>
            </section>
        {% endfor %}
    {% else %}
        <h2>No courses found. Try adding one.</h2>
    {% endif %}

</body>
</html>